<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>乐驰软件</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>


    <div id="app">
        <div>

            <!--天气-->
            <img :src="tianqiUrl" :style="getWeatherStyle()" alt="">
            <!--影子图片-->
            <img :src="yingzi" :style="gethuochairenStyle()" v-if="isyingzi">
            <!--雨伞图片-->
            <img :src="san" :style="gethuochairenStyle()" v-if="isyusan">
            <!--脸庞-->
            <img :src="lian" :style="gethuochairenStyle()" alt="">
            <!--眼睛-->
            <img :src="eyes" :style="gethuochairenStyle()" alt="">
            <!--嘴巴-->
            <img :src="zuiba" :style="gethuochairenStyle()" alt="">
            <!--身体-->
            <img :src="shenti" :style="gethuochairenStyle()" alt="">
            <!--头发-->
            <img :src="toufa" :style="gethuochairenStyle()" alt="">
        </div>
    </div>


<script src="js/vue.js"></script>
<script src="js/jquery-3.5.1.js"></script>
<script src="js/index.js"></script>
</body>
</html>