* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    background-color: #fed;
    /*溢出隐藏*/
    /*解决塌陷*/
    /*清除浮动*/
}

h1 {
    position: relative;
    z-index: 2;
    
}
div img{
    /* 关于图片的定位以及圆角 */
    border-radius: 1%;
    z-index: 1; 

}
div p{
    opacity: 0;
}



div:hover img{
    z-index : 100; 

}


   .lefteye {
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    right: 200px;
    bottom: 20px;
    background-color: #ccc;
    z-index : 101;
  }
   .righteye {
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    right: 170px;
    bottom: 20px;
    background-color: #ccc;
    z-index : 101;
  }
  
   .righteye::after {
    position: absolute;
    bottom: 17px;
    right: 10px;
    width: 10px;
    height: 10px;
    background-color: #313131;
    border-radius: 50%;
    content: '';
  }
  .lefteye::after {
    position: absolute;
    bottom: 17px;
    right: 10px;
    width: 10px;
    height: 10px;
    background-color: #313131;
    border-radius: 50%;
    content: '';
  }


