<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div id="app">
        <!--1、单选框-->
        <!--<label for="agree">-->
            <!--<input type="checkbox" id="agree" v-model="isAgree">同意协议-->
        <!--</label>-->
        <!--<button :disabled="!isAgree">下一步</button>-->
        <!--<h2>{{message}}</h2>-->

        <!--2、checkbos多选框-->
        <input type="checkbox" value="篮球" v-model="hobbies">篮球
        <input type="checkbox" value="足球" v-model="hobbies">足球
        <input type="checkbox" value="乒乓球" v-model="hobbies">乒乓球
        <input type="checkbox" value="羽毛球" v-model="hobbies">羽毛球

        <h2>你的选择是：{{hobbies}}</h2>

        <label v-for="item in zhobbies" for="item">
            <input type="checkbox" :value="item" id="item" v-model="hobbies">{{item}}
        </label>
    </div>

    <script src="../js/vue.js"></script>
    <script>
        const app = new Vue({
            el: "#app",
            data: {
                message : '你好呀',
                isAgree : false,
                hobbies:[],
                zhobbies:['篮球','足球','乒乓球','羽毛球']
            },
        })
    </script>
</body>
</html>