<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>T购物车小案例</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div id="app">
   <div v-if="books.length">
       <table>
           <thead>
           <tr>
               <td></td>
               <td>书籍名称</td>
               <td>出版日期</td>
               <td>价格</td>
               <td>购买数量</td>
               <td>操作</td>
           </tr>
           </thead>
           <tbody>
           <tr v-for="(book,index) in books" >
               <td>{{book.id}}</td>
               <td>{{book.name}}</td>
               <td>{{book.date}}</td>
               <td>{{book.price | getPrice}}</td>
               <td>
                   <button @click="numSub(index)"
                           :disabled="book.num <= 1">-</button>
                   {{book.num}}
                   <button @click="numAdd(index)">+</button>
               </td>
               <td>
                   <button @click="remove(index)">删除</button>
               </td>
           </tr>
           </tbody>
       </table>
       <h2>总价钱是：{{totalPrice | getPrice}}</h2>
   </div>
    <h2 v-else>购物车为空</h2>
    <!--想一下  你直接写方法和 用  ：function（）{}有什么不同
        作用上没什么不同，就是一个是ES5 的写法，一个是ES6的写法
    -->
</div>

<script src="../js/vue.js"></script>
<script src="index.js"></script>
</body>
</html>